body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    height: 100vh;
    width: 100%;
}

.header {
    grid-area: header;
    background-color: #ffffff;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    height: 100%;
    grid-row: span 2;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 600;
}

.main-content {
    grid-area: main;
    background-color: #e2e8f0;
    height: 100%;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;;
    color: #ffffff;
}

.sidebar img {
    width: 2rem;
    height: 2rem;
}

.sidebar-item-list-one img {
    width: 2rem;
    height: 2rem;
}

.sidebar-item-list-one li {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}


ul {
    list-style-type: none;
}